/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

//___________________________________________my css properties__________________________________________________________


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

@import url(//fonts.googleapis.com/css?family=Roboto:100,300,300italic,100italic,400,500|Pacifico);

* {

    margin: 0;
    padding: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.disk-none {
    list-style: none;
}

body {
    font: 300 15px/24px 'Roboto', sans-serif;
    color: #fff;
    background-color: #191919;
}

.container {
    padding: 0;
}

.wrapper {
    width: 100%;

}

.header {
    padding-top: 49px;
    background-image: url(../assets/img/parallax.jpg);
    background-size: auto 120%;
    background-repeat: no-repeat;
}

.mainMenu {
    .menu {
        &-item {
            &__caption {
                color: $gray;
            }
            &__caption:hover {
                color: $yellow;
            }
        }
    }
}

.menu-scroll-none {
    display: block;
    visibility: hidden;
    &__view {
        visibility: visible;
    }
}

.logotype {
    text-align: center;
    padding: 300px 0;
    width: 538px;
    height: 507px;
    margin: 0 auto;
    box-sizing: content-box;
    &-img {
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #191919;
    padding-top: 50px;
    padding-bottom: 40px;
    &__logotype {
        width: 370px;
        height: 162px;
        margin-left: 30px;
        &-img {
            height: inherit;
            margin-top: -20px;
        }
    }
    &__contacts {
        width: 270px;
        margin-left: 230px;
        margin-top: 66px;
        color: #fff;
        font: 300 15px/24px "Roboto", sans-serif;
        &-address {
            color: #fff;
            font: 300 15px/24px "Roboto", sans-serif;
            margin: 0;
        }
        &-phone {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: #f6cd53;
            }
        }
    }
    &__news {
        width: 270px;
        margin-top: 58px;
        margin-left: 30px;
        &__social-network {
            margin-top: 40px;
            font-family: "FontAwesome", sans-serif;
            font-size: 20px;
            line-height: 20px;
            &-twitter, &-googlePlus, &-pinterest, &-ficebook, &-linkedin {
                margin-left: 9px;
            }

            &-twitter {
                color: #fff;
                &:hover {
                    color: #f6cd53;
                    text-decoration: none;
                }
            }

            &-googlePlus {
                color: #fff;
                &:hover {
                    color: #f6cd53;
                    text-decoration: none;
                }
            }

            &-pinterest {
                color: #fff;
                &:hover {
                    color: #f6cd53;
                    text-decoration: none;
                }
            }

            &-ficebook {
                color: #fff;
                &:hover {
                    color: #f6cd53;
                    text-decoration: none;
                }
            }

            &-linkedin {
                color: #fff;
                &:hover {
                    color: #f6cd53;
                    text-decoration: none;
                }
            }
        }
    }
}
