<div>
    <ul class="menu">
        <li class="menu-item" ng-mouseover="menuCtrl.getIsHoverRootMenuItem(menuItem.id)" ng-repeat="menuItem in menuCtrl.rootMenuItems">
            <a class="menu-item__caption" ng-href="{{menuItem.action}}" ng-bind="menuItem.title"></a>
            <div class="menu-item__wrapper" ng-if="menuCtrl.isHasChildren(menuItem)" ng-include="'menu-items.template.html'"></div>
        </li>
    </ul>

    <script type="text/ng-template" id="menu-items.template.html">
        <ul class="menu-item__sub">
            <li class="menu-item__sub-item" ng-repeat="menuItem in menuCtrl.getSubMenuItem(menuItem)">
                <a ng-href="{{menuItem.action}}" ng-bind="menuItem.title"></a>
                <div class="menu-item__sub-item-wrapper" ng-if="menuCtrl.isHasChildren(menuItem)" ng-include="'menu-items.template.html'"></div>
            </li>
        </ul>
    </script>
</div>
